{% extends 'base.html' %}

{% block title %}Resolved Complaints{% endblock %}

{% block page_title %}Resolved Complaints{% endblock %}


{% block content %}


<div class="bg-gray-900 border border-yellow-500 rounded-xl shadow-lg overflow-hidden">


<div class="p-6 border-b border-gray-700">

<h2 class="text-2xl font-bold text-yellow-400">
✅ Resolved Complaints
</h2>

</div>



<div class="overflow-x-auto">


<table class="w-full text-left">


<thead class="bg-yellow-500 text-black">

<tr>

<th class="p-4">ID</th>
<th class="p-4">Citizen</th>
<th class="p-4">Category</th>
<th class="p-4">Location</th>
<th class="p-4">Resolved Date</th>
<th class="p-4">Status</th>

</tr>

</thead>



<tbody class="text-white">


<tr class="border-b border-gray-700 hover:bg-gray-800">


<td class="p-4">
#1003
</td>


<td class="p-4">
Priya
</td>


<td class="p-4">
Street Light
</td>


<td class="p-4">
University Road
</td>


<td class="p-4">
10 July 2026
</td>



<td class="p-4">

<span class="bg-green-500 text-black px-3 py-1 rounded-full">

Resolved

</span>

</td>


</tr>





<tr class="hover:bg-gray-800">


<td class="p-4">
#1004
</td>


<td class="p-4">
Amit
</td>


<td class="p-4">
Water Leakage
</td>


<td class="p-4">
Rajkot
</td>


<td class="p-4">
08 July 2026
</td>


<td class="p-4">

<span class="bg-green-500 text-black px-3 py-1 rounded-full">

Resolved

</span>

</td>


</tr>



</tbody>


</table>


</div>


</div>



{% endblock %}